<% if @post.errors.any? %>
    <ul>
        <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for @post do |p| %>
    <div>
        <%= p.label :title %>
        <%= p.text_field :title %>
    </div>
    <div>
        <%= p.label :body %>
        <%= p.text_area :body%>
    </div>
    <%= p.submit 'Submit' %>
<% end %>


   